{% extends "base.html" %}
{% block title %}My Title{% endblock %}
{% block body %}
<table class="table table-danger">
	<thead>
		<tr>
			<th scope="col">NOM</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		{% include 'noodle/line.html' with nom="nom_user" %}
	</tbody>
</table>
{% endblock %}